body {
    font-family: 'Istok Web', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    margin-bottom: 5px;
}

main {
    flex: 1 0 auto;
}

h1 {
    margin: 0;
}

/* modal close link hover effect */
a.modal-close {
    color: black;
    transition: color 0.5s;
}

a.modal-close:hover {
    color: #999;
}

/* scale for the sentiment score */
.score-scale {
    background-image: linear-gradient(90deg, #1E88E5, white, #ff6d00);
    border-radius: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
}

/* bar to display the score, JS will set the position */
.score-bar {
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    height: 100%;
    width: 0;
}

/* give each sentence an outline hover effect to go with the tooltip */
.sentence {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
}

.sentence:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.bold {
    font-weight: bold;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.entity {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
    text-decoration: underline;
}

.entity:link {
    color: black;
}

/* entity links shouldn't show as visited but just in case */
.entity:visited {
    color: black;
}

.entity-hover {
    box-shadow: 0 0 3px 2px black;
}

.instruction-line {
    font-size: 20px;
}

@media not screen and (max-width: 992px) {
    #instructions {
        padding-top: 50px;
    }
}

#submission {
    border-radius: 5px;
}

#feedback {
    display: none;
}

#response {
    font-size: larger;
    line-height: 1.5;
}

#blue {
    color: #1E88E5;
    font-weight: bold;
}

#orange {
    color: #ff6d00;
    font-weight: bold;
}